/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center {
    width:50%;
    margin: 0 auto;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Header styles */
header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Navigation styles */
nav {
    background-color: #2E8B57;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Main styles */
main {
    padding: 20px;
}

/* Section styles */
section {
    background-color: #E0FFFF;
    padding: 20px;
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
}


/* Button */
#close_popup_button {
    position: relative;
    width: 70px;
    height: 40px;
    left: 36%;
    top: 50%;
}
.popup {
    position: relative;
    top: 50%;
    display:block;
    text-align: center;
    cursor: pointer;
    max-width: 80px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* The actual popup (appears on top) */
  .popupbox {
    position: sticky;
    width: 500px;
    max-width: 500px;
    height: 500px;
    max-height: 500px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    bottom:20%;
    
  }
  
  /* Popup arrow */
  .popupbox::after {
    position: sticky;
    top: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  